.leaflet-control-zoom {

    right: 35%;

}

.logoButton {
    position: absolute;
    display: flex;
    grid-area: logo;
    margin-left: 2%;
    width: 100%;
    max-width: 13%;
    min-width: 10%;
    height: auto;
    z-index: 9;
    bottom: 2%;
    background-color: transparent;
    /* to create the effect of a cut border */
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
}

.logoButton:hover {
    clip-path: none;
}


.textButton {
    cursor: pointer;
    color: black;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: auto 1px;
    font-weight: bold;
    font-size: 1.4vw;
    padding: 5px;
    z-index: 10;
    overflow: hidden;
}
