.activityContainer{
  z-index: 4;
  background: var(--secondary-color);
  width: 100%;
  
  max-width: 500px;
  max-height: 225px;
  border-radius: 25px;
  margin:auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activityContainerMobile{
  z-index: 4;
  background: var(--secondary-color);
  width: -webkit-fill-available;
  width: -moz-available;
  height: 100%;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activityContentContainer{
  height: 100%;
  margin: 1px 0;
  padding: 0 10px;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
