html, body, #root, #app, #app>div {
  height: auto;
  min-height: 100%;
}

.appContainer{
  /*background-color: #161616;*/
  margin: 0px;
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
}

.popUpContainer{
  position: absolute;
  height: 92.5%;
  width: 100%;
  z-index: 3;
}

.popUpBackground{
  background: var(--pop-background);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.contentContainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 1;
  overflow-x: hidden;
}

.titleContainerMobile{
  width: 100%;
  height: fit-content;
  max-width: 100%;
  margin: 0 0 2em 0;
  display: flex;
  flex-direction: row;
}

.titleHeaderMobile{
  display: flex;
  width: 75%;
}

.dualButtonContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1em 0;
  justify-content: space-between;
}

.closeContainer{
  width: -webkit-fill-available;
  width: -moz-available;
  max-height: fit-content;
  padding: 0 10px;
}