.dropDownSelectHidden{
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
}

.dropDownSelectVisible{
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.dropDownSelectCurrentItem{
  cursor: pointer;
  display: flex;
  flex: 0;
  flex-direction: row;
  justify-content: space-between;
  width: 17em;
}

/*david: media query used to give a diferent width for movile screen */
@media screen and (max-width: 767px) {

}

@media screen and (max-width: 410px) {
  .dropDownSelectCurrentItem{
    width: 75%;
  }
  .activeItemText{
    font-size: 1.6em;
  }
}

.dropDownSelectCurrentItem:hover .dropDownIcon{
  fill: var(--title-color);
}

.dropDownSelectCurrentItem:hover .activeItemText{
  color: var(--title-color);
}

.activeItemText{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1em;
  width: auto;
  color: var(--secondary-text-color);
  text-align: left;
  text-transform: capitalize;
  text-shadow: none;
  font-weight: 700;
  padding: .5em 0.5em .6em;
  vertical-align: baseline;
  max-height: 33px;
}
@media (orientation: portrait) {
  .activeItemText{
    width: fit-content;
    height: fit-content;
    max-height: 0%;
    text-align: center;
  }
}


.activeItemTextActive{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1em;
  color: var(--primary-text-color);
  text-transform: none;
  text-shadow: none;
  font-weight: 600;
  line-height: 1em;
  padding: .78571429em 0.5em .78571429em;
  vertical-align: baseline;
  align-self: center;
}

@media screen and (max-width: 368px) {

  .activeItemText{
    font-size: 70%;
  }
  .activeItemTextActive{
    font-size:  70%;
  }
}

.projectDropDownIcon{
  padding: 0 0.5em 0 0;
  margin: auto 0;
  float: right;
  fill: var(--secondary-text-color);
  transition: 0s;
  width: 2em !important;
  height: 2em !important;
}

.projectDropDownIconActive{
  padding: 0 0.5em 0 0;
  margin: auto 0;
  float: right;
  fill: var(--primary-text-color);
  width: 2em;
  height: 2em;
  transition: 0s;
  transform: rotate(180deg);
}





