.dropDownSelectHidden{
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
}

.dropDownSelectVisible{
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.dropDownSelectCurrentItem{
  cursor: pointer;
  display: flex;
  flex: 0;
  flex-direction: row;
  justify-content: space-between;
  width: 17em;
}


@media screen and (max-width: 410px) {
  .dropDownSelectCurrentItem{
    width: 75%;
  }
  .activeItemText{
    font-size: 1.6em;
  }
}

/* drop down Project Names*/

.activeItemText{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1em;
  width: auto;
  color: var(--text-primary);
  text-align: left;
  text-transform: capitalize;
  text-shadow: none;
  font-weight: 700;
  padding: .5em 0.5em .6em;
  vertical-align: baseline;
  max-height: 33px;
}



@media screen and (max-width: 368px) {

  .activeItemText{
    font-size: 70%;
  }
  .activeItemTextActive{
    font-size:  70%;
  }
}







