.dropDownContainer{
  background: var(--primary-static-color);
  border: 10px solid var(--primary-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  max-width: 260px;

}

@media screen and (max-width: 410px) {
  .dropDownContainer{
    width: 70%;
 
  }
}

.icons{
  size: 5%;
  opacity: 1; /* opacidad por defecto */
  transition: opacity 0.3s ease-in-out;
}
.icons:hover{
  opacity: 0.8;
}

.dropDownList{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropDownListItem{
  cursor: pointer;
  padding: 0px;
  height: 100%;
  width: auto;
  display: block;
  text-align: left;
  align-self: center;
  transition: 0s;
  color: var(--secondary-text-color);
}

.dropDownItemText{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1.2em;
  display: block;
  font-weight: 500;
  padding: 0.5em 0.5em;
  margin: 0;
  width: fit-content;
}

.dropDownListItem:hover{
  color: var(--title-color);
  transition: 0.5s;
  background: var(--secondary-text-color);
  height: 100%;
}


