input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--secondary-color) inset !important;
    -webkit-text-fill-color: var(--primary-text-color) !important;
    vertical-align: top;
    caret-color: var(--primary-text-color);
    background: aliceblue;
    box-shadow: 0 0 0 30px var(--secondary-color) inset !important;
    
}

.inputPrimary:-webkit-autofill,
.inputPrimary:-webkit-autofill:hover, 
.inputPrimary:-webkit-autofill:focus, 
.inputPrimary:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--primary-color) inset !important;
    -webkit-text-fill-color: var(--primary-text-color) !important;
    box-shadow: 0 0 0 30px var(--primary-color) inset !important;
}

.inputContainer{
  background: var(--secondary-color);
  margin: 20px 0px;
  padding: 5px 0;
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  color: var(--primary-text-color);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1em;
  resize: none;
}

.inputContainerPrimary{
  background: var(--primary-color);
  margin: 20px 0px;
  padding: 5px;
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  color: var(--primary-text-color);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1em;
  resize: none;
}

.inputFocusLine{
  position: relative;
  bottom: 2px;
  margin: auto;
  width: 0%;
  border-bottom: 2px solid var(--secondary-text-color);
  transition: linear width 0s;
}


.inputFocusLineComment{
  bottom: 2px;
}

.input{
  vertical-align: top;
  background: var(--secondary-color);
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  margin: 0px;
  overflow: hidden;
  color: var(--primary-text-color);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1em;
  resize: none;
  padding: 0px;
  border-bottom: 2px solid var(--accent-color-light);
}

.input:focus{
  outline: none;
}

.input:focus + .inputFocusLine{
  border-bottom: 2px solid var(--primary-text-color);
  width:100%;
  transition-duration: 0.3s;
}

.inputPrimary{
  background: var(--primary-color);
  display: flex;
  fill: var(--title-color);
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

.inputPrimary:focus{
  outline: none;
}

.inputPrimary:focus + .inputFocusLine{
  border-bottom: 2px solid var(--primary-text-color);
  width:100%;
  transition-duration: 0.3s;
}
.inputLogIn{
  vertical-align: top;
  background: var(--secondary-color);
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  margin: 0px;
  overflow: hidden;
  color: var(--primary-text-color);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1em;
  resize: none;
  padding: 0px;
  border-bottom: 2px solid #808080;
}

.inputLogIn:focus{
  outline: none;
}

.inputLogIn:focus + .inputFocusLine{
  border-bottom: 2px solid var(--primary-text-color);
  width:100%;
  transition-duration: 0.3s;
}
.checkbox{
  background: var(--secondary-color);
}

.inputContainer{
  background: var(--secondary-color);
  margin: 20px 0px;
  padding: 5px 0;
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  color: var(--primary-text-color);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1em;
  resize: none;
}

.inputFocusLine{
  position: relative;
  bottom: 2px;
  margin: auto;
  width: 0%;
  border-bottom: 2px solid var(--primary-text-color);
  transition: linear width 0s;
}

.inputFocusLineComment{
  bottom: 2px;
}
