.projectInfoContainer {
  z-index: 4;
  background: var(--secondary-color);
  max-width: 50%;
  width: 100%;
  height: auto;
  max-height: 90%;
  border-radius: 10px;
  margin:auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px 5px grey;
}

.projectInfoContainerMobile {
  z-index: 4;
  background: var(--secondary-color);
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectInfoDescriptionContainer {
  margin: 10px;
  text-align: left;
  display: block;
}

.projectInfoContentDescriptionContainer {
  margin: 10px;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  display: block;
}

.projectInfoImageContainer {
  margin: 10px;
  max-width: 100%;
  margin: auto;
  display: block;
  padding: 0 10px;
}

.projectInfoImage {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  border-radius: 5px;
}


.projectInfoContentContainer{
  height: 100%;
  list-style-type: none;
  padding: 0 20px;
  max-height: auto;
  overflow:hidden;
  overflow-y:auto;
}

.projectInfoDownloadButton{
  text-align: center;
  margin-top: 2em;
}
