.utils-container {
    position: fixed;
    bottom: 25px;
    right: 28px;
    z-index: 9;
    background: var(--primary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10%;

}


.utils-ul {
    list-style: none;
    /* elimina los marcadores de lista */
    margin: 1%;
    /* elimina el margen predeterminado */
    padding: 0%;
}

.floatingSearch {
    width: 100%;
    height: 100%;
    fill: var(--title-color);

}