.utils-container {
    position: fixed;
    bottom: 25px;
    right: 28px;
    z-index: 9999;
    background: var(--primary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10%;
  
}
@media (orientation: portrait) {
    .utils-container{
     bottom: 2%;
     width: 15%;

    }
  }

.utils-ul {
    list-style: none; /* elimina los marcadores de lista */
    margin: 1%; /* elimina el margen predeterminado */

}
@media (orientation: portrait) {
    .utils-ul {
        width: 100%;
        height: 100%;
        padding: 0%;
    }
  }
.floatingSearch{
    width: 35px;
    height: 35px;
    fill: var(--title-color);
}
@media (orientation: portrait) {
    .floatingSearch {
        width: 35px;
        height: 35px;
        fill: var(--title-color);
    }
  }

.floatingSearch{
    width: 100%;
    height: 100%;
    fill: var(--title-color);

}
@media (orientation: portrait) {
    .floatingList{
        width: 100%;
        height: 100%;
    }
  }